body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 1.3;
  letter-spacing: 2%;
  background-color: #fff;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  width: 1158px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

.nav-head {
  display: flex;
  align-items: center;
}

.logo-span {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo {
  color: #404bbf;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.logo:focus {
  color: #404bbf;
}

.logo-span:focus {
  color: #404bbf;
}

.navigation {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.link-nav {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 27px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav.current {
  color: #404bbf;
  position: relative;
}

.link-nav:hover,
.link-nav:focus {
  color: #404bbf;
}

.link-nav::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  opacity: 0;
  background-color: #404bbf;
  bottom: -1px;
}

.link-nav:hover::after,
.link-nav:focus::after,
.link-nav.current::after {
  color: #404bbf;
  opacity: 1;
  border-radius: 2px;
}

.contacts {
  font-style: normal;
  margin-left: 332px;
}

.contacts-conteiner {
  list-style-type: none;
  display: flex;
  gap: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.contacts-nav {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-nav:hover,
.contacts-nav:focus {
  color: #404bbf;
}

.head {
  flex-shrink: 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.head .conteiner {
  flex-direction: column;
}

.head div {
  display: block;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.head-title {
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  padding-bottom: 48px;
  max-width: 496px;
}

.order-button {
  background: #4d5ae5;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: 164px;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background: #404bbf;
}

.advent {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advent-conteiner {
  list-style-type: none;
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: 0px 156px;
}

.advent-list {
  width: calc((100% - 72px) / 4);
}

.advent-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  margin-bottom: 8px;
}

.advent-svg {
}
.advent-list-title {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.advent-list-text {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.team {
  flex-shrink: 0;
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team > div {
  display: block;
  padding: 0 15px;
  max-width: 1158px;
  margin-left: 156px;
}

.team-conteiner {
  list-style-type: none;
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-conteiner-list {
  padding-bottom: 0px;
  justify-content: center;
  background: var(--WHITE, #fff);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 3 * 24px) / 4);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-div {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-div-svg {
  display: flex;
  gap: 24px;
  justify-content: center;
  list-style-type: none;
  margin-top: 8px;
}

.team-a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-a:hover,
.team-a:focus {
  background-color: #404bbf;
}

.team-svg {
  fill: #f4f4fd;
}

.team-conteiner-title {
  color: #2e2f42;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.team-conteiner-text {
  color: #434455;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.portfolio {
  background: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio .container {
  display: block;
  padding: 0 15px;
  max-width: 1158px;
  margin-left: 156px;
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-conteiner {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 78px 24px;
  justify-content: center;
  row-gap: 48px;
}

.portfolio-conteiner-list {
  padding-bottom: 0px;
  flex-shrink: 0;
  background: var(--WHITE, #fff);
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-conteiner-list:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.portfolio-conteiner-list:hover .overlay {
  transform: translateY(0%);
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  background-color: var(--IRIS, #4d5ae5);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  padding: 40px 32px;
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-conteiner-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.portfolio-conteiner-text {
  color: var(--SLATE, #434455);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

.footer {
  flex-shrink: 0;
  background: #2e2f42;
  padding-bottom: 100px;
  padding-top: 100px;
}

.footer > div {
  display: flex;
  align-items: baseline;
}

.logo-container {
  margin-right: 120px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 156px;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo-span {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  margin-left: 156px;
  max-width: 264px;
}

.footer-div {
  flex-direction: column;
}

.footer-social {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-div-svg {
  display: flex;
  gap: 16px;
  justify-content: center;
  list-style-type: none;
  margin-top: 16px;
}

.footer-a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-a:hover,
.footer-a:focus {
  background-color: #31d0aa;
}

.footer-svg {
  fill: #f4f4fd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  display: flex;
  flex-shrink: 0;
}

.footer-modal {
  margin-left: 80px;
}
.footer-modal-form {
  display: flex;
  gap: 24px;
}

.form-label {
}

.footer-subcr {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-inp {
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 264px;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2; /* 200% */
  letter-spacing: 0.04em;
  padding-left: 16px;
}

.footer-inp::placeholder {
  color: #fff;
}

.footer-btn {
  display: flex;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  width: 165px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 165px;
}

.footer-btn:focus,
.footer-btn:hover {
  background: #404bbf;
}

.footer-btn-svg {
  margin-left: 16px;
  fill: #fff;
}

.backdrop {
  background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  border-radius: 4px;
  background-color: var(--DAIRY, #fcfcfc);
  width: 408px;
  min-height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0;
  border-color: #0000001a;
  margin-left: auto;
  background: #e7e9fc;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background: #404bbf;
  fill: #fff;
  border: none;
}

.modal-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.modal-form {
  gap: 8px;
}

.modal-div {
  margin-bottom: 8px;
}

.field {
  display: block;
  margin-bottom: 4px;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.48px;
}

.field-inp {
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  width: 100%;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}

.field-inp:focus {
  border-color: #4d5ae5;
}

.field-inp:focus + .field-svg {
  fill: #4d5ae5;
}

.field-svg {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-area-div {
  margin-bottom: 16px;
}

.field-area {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-area:focus {
  border-color: #4d5ae5;
}

.inp-div {
  position: relative;
}

.field-div {
  display: flex;
  margin-top: 16px;
  margin-bottom: 24px;
  align-items: center;
}

.field-pp {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.field-checkbox {
  width: 16px;
  height: 16px;
  stroke: transparent;
}

.checkbox-div {
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  margin-right: 8px;
}

.checkbox-svg {
  opacity: 0;
}

.field-checkbox:checked + .field-pp > .checkbox-div {
  background: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.field-checkbox:checked + .field-pp > .checkbox-div > .checkbox-svg {
  opacity: 1;
}

.text-pp {
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
}

.text-pp-input {
  color: var(--IRIS, #4d5ae5);
  margin-left: 4px;
}

.field-btn {
  border-radius: 4px;
  background-color: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-color: #4d5ae5;
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  width: 169px;
  height: 56px;
  margin: auto;
  display: block;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  min-width: 169px;
}

.field-btn:hover,
.field-btn:focus {
  background: #404bbf;
}
